.main{
    width: 100%;
    background: linear-gradient( rgba(9, 8, 8, 0.5)50%,rgba(225, 190, 229, 0.5)50%), url(9.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.col4{
    display: flex;
    float: left;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

@media (min-width : 760px) {
#coursesect{
    display: flex;
}

.course{
    float: left;
    padding-left: 5em;
    margin: 3em;
}
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
    color: #79cc6f;
}

.logo{
    text-decoration-line: rgb(219, 103, 142);
    stroke: rgb(240, 169, 169);
    font-size: 30px;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;

}

ul li{
    list-style: none;
    margin-left: 50px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: pink;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: #e3a5a5;
    border: none;
    margin-top: 13px;
    color: pink;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: black;
    border: 2px solid black;
    margin-top: 13px;
    color: rgb(239, 163, 163);
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #2e2727;
    position: relative;
}

.content .par{
    padding-left: 2em;
    padding-bottom: 2em;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 80px;
    padding-left: 20px;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: pink;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: pink;
}
.cn:hover{
    background-color: #fff;
}

.content span{
    color: pink;
    font-size: 65px
}

.form{
    width: 250px;
    height: 380px;
    background:black;
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: pink;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid pink;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #b55e5e;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: rgb(248, 194, 194);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
   
    transition: 0.4s ease;
}


.btnn:hover{
    background: #79cc6f;
    color: rgb(122, 223, 104);
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: rgb(118, 198, 102);
}



